<div class="container">
    {{!-- header --}}
    {{> header}}
    {{!-- banner --}}
    {{> banner}}
    {{!-- Footer --}}
    {{> footer}}
</div>
{{!-- <script defer src="/js/home.module.chunks.js"></script> --}}
<script src="/js/particle-network.js"></script>