<footer class='bg-[#000000] py-[20px]'>
  <div
    class='content sm:grid-cols-1 sm:grid-rows-3 sm:w-[90%] w-[1215px] mx-auto lg:grid-cols-2 lg:grid-rows-2 grid grid-cols-3'>
    <div class='lg:order-3 col-span-1 lg:text-center sm:col-span-1 lg:col-span-2 lg:self-end'>
      <h1 class='my-auto lg:flex lg:justify-center mb-[20px]'>
        <a href="/" class="logo flex mr-[100px] text-white ">
          <div class="mr-[5px] self-center ">
            <img class="max-w-[35px] sm:max-w-[24px] " src="/media/icons/logo.svg" alt="logo website">
          </div>
          <span class="self-center text-[23px] sm:text-[20px] font-bold">Developer</span>
          {{!-- <span class="uppercase text-[25px] sm:text-[20px] font-light ml-[5px] self-center ">
            <span>s</span><span class="lowercase">ki</span><span class="lowercase">ll</span></span> --}}
        </a>
      </h1>
      <p class='text-[#c1c1c1] mb-[20px]'>
        Là nơi chia sẻ những trải nghiệm của bản thân mình trong suốt quá trình
        học tập tại môi trường FPT Poly cũng như là đi làm. Là nơi để giao lưu
        học hỏi để trao đổi kiến thức và kinh nghiệm
      </p>
      <p class='text-[#c1c1c1] text-[14px]'>
        ©2021 - Bùi Thế Anh
      </p>
    </div>
    <div class='text-[#c1c1c1] text-center lg:text-left sm:order-2 lg:order-1'>
      <h3 class='text-white text-[18px] font-medium py-[19px]'>Danh mục</h3>
      <p class='mb-[15px]'>
        <a class='hover:text-white' href=''>Giới thiệu</a>
      </p>
      <p class='mb-[15px]'>
        <a class='hover:text-white' href=''>Câu hỏi thường gặp</a>
      </p>
      <p class='mb-[15px]'>
        <a class='hover:text-white' href=''>Liên hệ</a>
      </p>
      <p class='mb-[15px]'>
        <a class='hover:text-white' href=''>Hỗ trợ</a>
      </p>
      <p class='mb-[15px]'>
        <a class='hover:text-white' href=''>Đóng góp</a>
      </p>
    </div>
    <div class='footer__follow lg:order-2 sm:order-1 text-[#c1c1c1]'>
      <h3 class='text-white text-[18px] font-medium py-[19px]'>Theo dõi</h3>
      <p class='text-[#c1c1c1] mb-[20px]'>
        Nhập email để đăng ký nhận những thông tin hữu ích nhất về sự kiện cập
        nhật mới của website
      </p>
      <p>
        <input class='w-full py-[8px] px-[10px] text-black rounded-[5px]' type='text' placeholder='Email của bạn....' />
      </p>
      <p class='mt-[15px]'>
        <button class='bg-gradient-to-b from-[#1273eb] 
            to-[#0051b5] rounded-[5px] flex px-[15px] py-[7px] text-white'>
          <span class='mr-[5px] self-center'>Submit</span>
          <span class='self-center'>
            <img class='w-[15px]' src='/media/icons/send.svg' alt='' />
          </span>
        </button>
      </p>
    </div>
  </div>
</footer>