<div class="author__item flex pb-[5px] border-b my-[10px] mb-[10px] ">
    <div class="mr-[15px] ">
        <a href="">
            <img class="max-w-[40px] max-h-[40px] rounded-full "
                src="https://scontent.fhan7-1.fna.fbcdn.net/v/t1.6435-1/p320x320/173012119_842909266296981_1549928277775199968_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=7206a8&_nc_ohc=HoDEtGippckAX-UbEg3&_nc_ht=scontent.fhan7-1.fna&oh=791099721213340cbc5820e0c1d7fd99&oe=61290801"
                alt="ảnh demo">
        </a>
    </div>
    <div>
        <div class="flex text-[#707885]">
            <p><a class="text-[#2d6ff7] mr-[10px] hover:underline " href="">Bùi Thế Anh</a></p> -
            <p class="ml-[10px] self-center"><span class="text-[13px] text-[#707885] ">@buitheanh</span></p>
        </div>
        <div class="flex text-[13px] ">
            <div class="flex mr-[10px]">
                <p class="mr-[5px] self-center"><img class="w-[13px]" src="/media/icons/point.svg" alt=""></p>
                <span>637</span>
            </div>
            <div class="flex mr-[10px]">
                <p class="mr-[5px] self-center"><img class="w-[13px]" src="/media/icons/pen-gray.svg" alt=""></p>
                <span>134</span>
            </div>
            <div class="flex mr-[10px]">
                <p class="mr-[5px] self-center"><img class="w-[13px]" src="/media/icons/follower.svg" alt=""></p>
                <span>48</span>
            </div>
        </div>
    </div>
</div>