<div class="post__item-latest mx-[5px] py-[10px] border-b px-[5px]">
    <h3>
        <a class="block mb-[5px] text-[17px] hover:underline " href="">Ứng dụng ReactJS trong thực tế</a>
    </h3>
    <span class="flex flex-wrap text-[14px]">
        <a class="block mb-[5px] mr-[10px] hover:underline text-[#2d6ff7] " href="">Bùi Thế Anh</a>
        <span class="self-center mb-[5px] text-[12px] text-[#707885]">khoảng 14h trước</span>
    </span>
    <div class="flex gap-[5px]">
        <div class="flex mr-[10px] text-[14px] ">
            <div class="my-auto mr-[5px] ">
                <img class="w-[13px] " src="/media/icons/eye.svg" alt="">
            </div>
            <span class="my-auto text-[#5f5f5f]">48</span>
        </div>
        <div class="flex mr-[10px] text-[14px] ">
            <div class="my-auto mr-[5px] ">
                <img class="w-[13px] " src="/media/icons/chat.svg" alt="">
            </div>
            <span class="my-auto text-[#5f5f5f]">20</span>
        </div>
        <div class="flex mr-[10px] text-[14px] ">
            <div class="my-auto mr-[5px] ">
                <img class="w-[13px] " src="/media/icons/like.svg" alt="">
            </div>
            <span class="my-auto text-[#5f5f5f]">328</span>
        </div>
        <div class="flex mr-[10px] text-[14px] ">
            <div class="my-auto mr-[5px] ">
                <img class="w-[13px] " src="/media/icons/dislike.svg" alt="">
            </div>
            <span class="my-auto text-[#5f5f5f]">48</span>
        </div>
    </div>
</div>