<div class="post__item flex px-[10px] py-[15px] border-b ">
    <div class="mr-[20px] ">
        <a href="">
            <img class="max-w-[40px] max-h-[40px] rounded-full "
                src="https://scontent.fhan7-1.fna.fbcdn.net/v/t1.6435-1/p320x320/173012119_842909266296981_1549928277775199968_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=7206a8&_nc_ohc=HoDEtGippckAX-UbEg3&_nc_ht=scontent.fhan7-1.fna&oh=791099721213340cbc5820e0c1d7fd99&oe=61290801"
                alt="ảnh demo">
        </a>
    </div>
    <div class="w-full">
        <span>
            <a class="text-[#2d6ff7] hover:underline font-medium text-[14px] " href="">Bùi Thế Anh</a>
        </span>
        <div class="post__content">
            <div class="flex flex-wrap">
                <h3 class="mr-[10px] ">
                    <a class="font-medium text-[19px] hover:underline " href="">Tìm hiểu về middleware trong
                        NodeJS</a>
                </h3>
                <div class="tag__item flex flex-wrap mr-[100px] ">
                    <a class="block mt-[4px] hover:bg-gray-300 mr-[5px] bg-[#e7e7e7] px-[10px] my-auto py-[2px]
                                    text-[#5f5f5f] text-[12px] rounded-[3px] " href="">NodeJS</a>
                    <a class="block mt-[4px] hover:bg-gray-300 mr-[5px] bg-[#e7e7e7] px-[10px] my-auto py-[2px]
                                    text-[#5f5f5f] text-[12px] rounded-[3px] " href="">ExpressJS
                    </a>
                    <div>
                        <span class="mx-[5px]">-</span>
                        <button class="translate-y-[2px]"><img class="w-[14px]" src="/media/icons/link.svg"
                                alt=""></button>
                    </div>
                </div>
                {{!-- share --}}
            </div>
            <span class="block text-[13px] text-[#707885] ">Khoảng 2h trước</span>
            <div class="post__desc flex justify-between mt-[5px] ">
                <div class="flex text-[14px] ">
                    <div class="flex mr-[10px] ">
                        <div class="my-auto mr-[5px] ">
                            <img class="w-[15px] " src="/media/icons/eye.svg" alt="">
                        </div>
                        <span class="my-auto text-[#5f5f5f]">48</span>
                    </div>
                    <div class="flex mr-[10px] ">
                        <div class="my-auto mr-[5px] ">
                            <img class="w-[15px] " src="/media/icons/chat.svg" alt="">
                        </div>
                        <span class="my-auto text-[#5f5f5f]">20</span>
                    </div>
                    <div class="flex mr-[10px] ">
                        <div class="my-auto mr-[5px] ">
                            <img class="w-[15px] " src="/media/icons/bookmark.svg" alt="">
                        </div>
                        <span class="my-auto text-[#5f5f5f]">20</span>
                    </div>
                </div>
                <div class="flex text-[14px] ">
                   <img class="w-[20px] " src="/media/icons/question-mark.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>